.home-title{
  text-align: center;
  font-family: 'JakartaSansBold';
  font-size: 1.5rem;
  padding-top: 40px;
  height: 15px;
  padding-bottom: 10px;
  color: var(--text);
}

.home-desc{
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 20px
}

.subjects-table {
  width: 75%;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 80px;
}

.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 40px;
  padding: 10px 20px;
  font-size: 0.7rem;
  color: var(--text-secondary, #666);
  background: var(--bg-alt);
  border-bottom: 1px solid var(--border);
  font-family: 'JakartaSans';
  font-weight: 100;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text);
  border-bottom: 1px solid var(--border);
  align-items: center;
  transition: var(--ui);
  font-size: 0.9rem;
  font-family: 'JakartaSans';
}

.table-row:hover {
  background: var(--bg-alt);
  .arrow{
    color: var(--primary);
  }
}

.subject-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'JakartaSans';
  font-weight: 600;
}

.icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
}

/* subject colors */
.icon-circle.maths { background: #f8453b; }
.icon-circle.bio { background: #4caf50; }
.icon-circle.chem { background: #3949ab; }
.icon-circle.phys { background: #f9a825; }
.icon-circle.eng { background: #7c6eff; }
.icon-circle.hist { background: #ff8a65; }

.arrow {
  font-size: 1.5rem;
  text-align: right;
  color: var(--text-secondary, #666);
  transition: var(--ui);
}

.title-row {
  padding: 20px 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--border);
  color: var(--text);
  font-weight: 600;
}

.curriculum{
  color: var(--text-secondary, #666);
  font-size: 0.8rem;
}

.row-title-row{
  padding: 20px 20px;
  font-size: 0.9rem;
  font-family: 'JakartaSansBold';
}

.table-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
